@page "/"


<h1>DyAproyect</h1>
<img src="img/ima.jfif" alt="Logo de la página" />



<p>Bienvenido a DyAproyect, Sistema para brindarle el mejor servicio a nuestros clientes que no pueden presentarse a nuestra tienda fisica, seleccione el catalogo de su preferencia.</p>





